[Unit]
Description=IoT receiver
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/iot/entry_receiver

[Install]
WantedBy=multi-user.target