[Unit]
Description=IoT collector
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/iot/entry_collector --interval=1m --db_name=device_metrics

[Install]
WantedBy=multi-user.target